<div class="form-row">
    <select class="form-control input-sm select2entity"
            id="filter_{{ column.index }}"
            data-search-column-index="{{ column.index }}"
            data-autostart="true"
            data-ajax--url="{{ column.filter.remote_url }}"
    >
        {% if column.filter.placeholder != null %}
            <option class="placeholder">{{ column.filter.placeholder|trans }}</option>
        {% endif %}
        {% for key, choice in column.filter.choices %}
            <option value="{{ key }}">{{ choice }}</option>
        {% endfor %}
    </select>
</div>

<script>
    $('.select2entity[data-autostart="true"]').select2entity();
    $('#filter_{{ column.index }}').change(function (){
        $('#dt').dataTable().api()
            .columns( {{ column.index }} )
            .search($(this).val(), true, false)
            .draw();
    });
</script>
