<div class="form-row">
    <input id="filter_{{ column.index }}" data-search-column-index="{{ column.index }}" type="search" class="form-control input-sm" placeholder="{{ column.filter.placeholder }}">
</div>

<script>
    $('#filter_{{ column.index }}').on('search', function () {
        $('#dt').dataTable().api()
            .columns( {{ column.index }} )
            .search($(this).val(), true, false)
            .draw();
    });
</script>
